*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header {
    background-color: white var(--main-color);
    margin: auto;
    padding: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 20px double aqua;
}

body {
    font-size: 30px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

main {
    display: flex;
    border-bottom: 20px double aqua;
}

.switch {
    margin-right: 20px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: aqua;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: beige;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: blueviolet;
}

input:focus + .slider {
    box-shadow: 0 0 1px blueviolet;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before{
    border-radius: 50%;
}

#submitbutton {
    background-color: blueviolet; 
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 1px;
    max-width: 200px;
    padding: 20px 52px;
    text-align: center;
    margin: 0.6em auto;
    display: block;
}

label {
    color: aqua;
}

.img {
    width: 50%;
    display: flex;
    border-right: double 20px aqua;
}

.card {
    display: inline-block;
    width: 50%;
    min-height: auto;
    background: white;
    padding-top: 20px;
    margin: 80px; 
    padding-right: 90px;
   }

#titlebox {
    display: block;
    min-height: 100px;
    margin-top: 10px;
    width: 100%;
    background-color: azure;
}

#contentbox {
    display: block;
    min-height: 100px;
    margin-top: 10px;
    width: 100%;
    background-color: azure;
}

#userbox {
    display: block;
    min-height: 100px;
    margin-top: 10px;
    width: 100%;
    background-color: azure;
}


.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}